# SEE: https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

# Core Developer
* @YusukeHirao

# Contributors
website/ @kagankan
website/docs/ @YusukeHirao
website/src/pages/index.tsx @YusukeHirao
website/**/*.md @YusukeHirao
website/**/*.mdx @YusukeHirao

# Renovate
package.json
yarn.lock
website/package.json
website/yarn.lock
