{
	"extends": ["eslint:recommended", "plugin:import/recommended", "plugin:import/typescript"],
	"env": {
		"browser": false,
		"es6": true,
		"node": true,
		"jest": true
	},
	"plugins": ["@typescript-eslint", "jsdoc", "eslint-comments", "import", "sort-class-members"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"sourceType": "module",
		"project": ["./tsconfig.json", "./tsconfig.test.json"]
	},
	"rules": {
		"indent": 0,
		"quotes": [2, "single", "avoid-escape"],
		"no-var": 2,
		"prefer-const": 2,
		"no-dupe-class-members": 0,
		"no-unused-vars": 0,
		"no-array-constructor": 0,
		"sort-imports": 0,
		"no-console": [1],
		"no-mixed-spaces-and-tabs": 0,
		"require-await": 2,
		"lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],

		"node/no-unsupported-features/es-syntax": 0,

		"@typescript-eslint/no-unused-vars": [2, { "args": "none" }],
		"@typescript-eslint/no-array-constructor": 2,
		"@typescript-eslint/adjacent-overload-signatures": 2,
		"@typescript-eslint/no-namespace": [2, { "allowDeclarations": true }],
		"@typescript-eslint/prefer-namespace-keyword": 2,
		"@typescript-eslint/no-var-requires": 2,
		"@typescript-eslint/no-unnecessary-type-assertion": 2,
		"@typescript-eslint/restrict-plus-operands": 0,
		"@typescript-eslint/consistent-type-imports": 1,
		"@typescript-eslint/require-await": "error",
		"@typescript-eslint/no-floating-promises": "error",
		"@typescript-eslint/member-ordering": [
			"warn",
			{
				"default": "never",
				"classes": {
					"memberTypes": [
						"public-static-field",
						"protected-static-field",
						"private-static-field",
						"public-static-method",
						"protected-static-method",
						"public-static-get",
						"protected-static-get",
						"private-static-get",
						"public-instance-field",
						"protected-instance-field",
						"private-instance-field",
						"public-abstract-field",
						"protected-abstract-field",
						"public-constructor",
						"protected-constructor",
						"private-constructor",
						["public-abstract-get", "public-abstract-set"],
						["protected-abstract-get", "protected-abstract-set"],
						["public-instance-get", "public-instance-set"],
						["protected-instance-get", "protected-instance-set"],
						["private-instance-get", "private-instance-set"],
						"public-abstract-method",
						"protected-abstract-method",
						"public-instance-method",
						"protected-instance-method",
						"private-instance-method",
						"private-static-method"
					],
					"order": "alphabetically"
				}
			}
		],

		"eslint-comments/disable-enable-pair": "error",
		"eslint-comments/no-duplicate-disable": "error",
		"eslint-comments/no-unlimited-disable": "error",
		"eslint-comments/no-unused-disable": "error",
		"eslint-comments/no-unused-enable": "error",
		"eslint-comments/no-use": "off",

		"import/no-named-as-default": 0,
		"import/order": [
			"error",
			{
				"groups": ["type", "builtin", "external", "parent", "sibling", "index", "object"],
				"pathGroups": [
					{
						"pattern": "@alias/**",
						"group": "parent",
						"position": "before"
					}
				],
				"alphabetize": {
					"order": "asc"
				},
				"newlines-between": "always"
			}
		],
		"import/no-extraneous-dependencies": 2,

		"sort-class-members/sort-class-members": [
			1,
			{
				"order": [
					"[static-properties]",
					"[static-methods]",
					"[properties]",
					"[conventional-private-properties]",
					"constructor",
					"[methods]",
					"[conventional-private-methods]"
				],
				"accessorPairPositioning": "getThenSet"
			}
		]
	},
	"settings": {
		"jsdoc": {
			"tagNamePreference": {
				"param": "arg",
				"returns": "return"
			}
		},
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true,
				"project": ["packages/*/tsconfig.json"]
			}
		}
	},
	"overrides": [
		{
			"files": ["**/*.spec.ts"],
			"rules": {
				"import/no-extraneous-dependencies": 0
			}
		},
		{
			"files": [
				"packages/@markuplint/types/**/*.ts",
				"packages/@markuplint/ml-config/**/*.ts",
				"packages/@markuplint/ml-spec/**/*.ts",
				"packages/@markuplint/selector/**/*.ts",
				"packages/@markuplint/ml-ast/**/*.ts",
				"packages/@markuplint/i18n/**/*.ts",
				"packages/@markuplint/parser-utils/**/*.ts",
				"packages/@markuplint/rules/**/*.ts",
				"packages/@markuplint/html-parser/**/*.ts",
				"packages/@markuplint/ml-core/**/*.ts"
			],
			"excludedFiles": ["**/*.spec.ts"],
			"rules": {
				"@typescript-eslint/prefer-readonly-parameter-types": [
					"warn",
					{
						"checkParameterProperties": false,
						"ignoreInferredTypes": true,
						"treatMethodsAsReadonly": false
					}
				]
			}
		}
	]
}
