{
	"extends": [
		"eslint:recommended",
		"plugin:unicorn/recommended",
		"plugin:regexp/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript"
	],
	"env": {
		"browser": false,
		"es6": true,
		"node": true,
		"commonjs": false
	},
	"plugins": ["unicorn", "@typescript-eslint", "jsdoc", "eslint-comments", "import", "sort-class-members"],
	"parserOptions": {
		"ecmaVersion": 13
	},
	"rules": {
		"indent": 0,
		"quotes": [2, "single", "avoid-escape"],
		"no-var": 2,
		"prefer-const": 2,
		"no-dupe-class-members": 0,
		"no-unused-vars": 0,
		"no-array-constructor": 0,
		"sort-imports": 0,
		"no-console": [1],
		"no-mixed-spaces-and-tabs": 0,
		"require-await": 2,
		"lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],
		"no-restricted-globals": [2, "__dirname", "require"],

		"node/no-unsupported-features/es-syntax": 0,

		"unicorn/consistent-destructuring": 0,
		"unicorn/consistent-function-scoping": 0,
		"unicorn/no-array-callback-reference": 0,
		"unicorn/no-nested-ternary": 0,
		"unicorn/no-null": 0,
		"unicorn/prefer-query-selector": 0,
		"unicorn/prefer-ternary": 0,
		"unicorn/prevent-abbreviations": 0,

		"eslint-comments/disable-enable-pair": "error",
		"eslint-comments/no-duplicate-disable": "error",
		"eslint-comments/no-unlimited-disable": "error",
		"eslint-comments/no-unused-disable": "error",
		"eslint-comments/no-unused-enable": "error",
		"eslint-comments/no-use": "off",

		"import/no-named-as-default": 0,
		"import/no-default-export": 2,
		"import/order": [
			"error",
			{
				"groups": ["type", "builtin", "external", "parent", "sibling", "index", "object"],
				"pathGroups": [
					{
						"pattern": "@alias/**",
						"group": "parent",
						"position": "before"
					}
				],
				"alphabetize": {
					"order": "asc"
				},
				"newlines-between": "always"
			}
		],
		"import/no-extraneous-dependencies": 2,

		"sort-class-members/sort-class-members": [
			1,
			{
				"order": [
					"[static-properties]",
					"[static-methods]",
					"[properties]",
					"[conventional-private-properties]",
					"constructor",
					"[methods]",
					"[conventional-private-methods]"
				],
				"accessorPairPositioning": "getThenSet"
			}
		]
	},
	"settings": {
		"jsdoc": {
			"tagNamePreference": {
				"param": "arg",
				"returns": "return"
			}
		},
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {
				"alwaysTryTypes": true,
				"project": ["packages/*/tsconfig.json"]
			}
		}
	},
	"overrides": [
		{
			"files": ["**/*.ts", "**/*.tsx", "**/*.mts"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"sourceType": "module",
				"project": ["./tsconfig.json", "./tsconfig.test.json"]
			},
			"rules": {
				"@typescript-eslint/no-unused-vars": [2, { "args": "none" }],
				"@typescript-eslint/no-array-constructor": 2,
				"@typescript-eslint/adjacent-overload-signatures": 2,
				"@typescript-eslint/no-namespace": [2, { "allowDeclarations": true }],
				"@typescript-eslint/prefer-namespace-keyword": 2,
				"@typescript-eslint/no-var-requires": 2,
				"@typescript-eslint/no-unnecessary-type-assertion": 2,
				"@typescript-eslint/restrict-plus-operands": 0,
				"@typescript-eslint/consistent-type-imports": 1,
				"@typescript-eslint/require-await": "error",
				"@typescript-eslint/no-floating-promises": "error",
				"@typescript-eslint/strict-boolean-expressions": [
					"error",
					{
						"allowString": true,
						"allowNumber": false,
						"allowNullableObject": true,
						"allowNullableEnum": false,
						"allowNullableString": true,
						"allowNullableBoolean": true,
						"allowAny": true
					}
				],
				"@typescript-eslint/member-ordering": [
					"warn",
					{
						"default": "never",
						"classes": {
							"memberTypes": [
								"public-static-field",
								"protected-static-field",
								"private-static-field",
								"public-static-method",
								"protected-static-method",
								"public-static-get",
								"protected-static-get",
								"private-static-get",
								"public-instance-field",
								"protected-instance-field",
								"private-instance-field",
								"public-abstract-field",
								"protected-abstract-field",
								"public-constructor",
								"protected-constructor",
								"private-constructor",
								["public-abstract-get", "public-abstract-set"],
								["protected-abstract-get", "protected-abstract-set"],
								["public-instance-get", "public-instance-set"],
								["protected-instance-get", "protected-instance-set"],
								["private-instance-get", "private-instance-set"],
								"public-abstract-method",
								"protected-abstract-method",
								"public-instance-method",
								"protected-instance-method",
								"private-instance-method",
								"private-static-method"
							],
							"order": "alphabetically"
						}
					}
				],
				"@typescript-eslint/prefer-readonly-parameter-types": [
					"warn",
					{
						"checkParameterProperties": false,
						"ignoreInferredTypes": true,
						"treatMethodsAsReadonly": false
					}
				]
			},
			"overrides": [
				{
					"files": ["./packages/@markuplint/**/parser.ts"],
					"rules": {
						"sort-class-members/sort-class-members": [
							1,
							{
								"order": [
									"[static-properties]",
									"[static-methods]",
									"[properties]",
									"[conventional-private-properties]",
									"constructor",
									"[accessor-pairs]",
									"[perser-methods-main]",
									"[perser-methods-visit]",
									"[perser-methods-update]",
									"[perser-methods-detection]",
									"[perser-methods-creation]",
									"[perser-methods-manipurate]",
									"[other-methods]",
									"[conventional-private-methods]",
									"[other-native-private-methods]"
								],
								"groups": {
									"perser-methods-main": [
										{ "name": "tokenize", "type": "method" },
										{ "name": "beforeParse", "type": "method" },
										{ "name": "parse", "type": "method" },
										{ "name": "afterParse", "type": "method" },
										{ "name": "parseError", "type": "method" },
										{ "name": "traverse", "type": "method" },
										{ "name": "afterTraverse", "type": "method" },
										{ "name": "nodeize", "type": "method" },
										{ "name": "afterNodeize", "type": "method" },
										{ "name": "flattenNodes", "type": "method" },
										{ "name": "afterFlattenNodes", "type": "method" }
									],
									"perser-methods-visit": [
										{ "name": "visitDoctype", "type": "method" },
										{ "name": "visitComment", "type": "method" },
										{ "name": "visitText", "type": "method" },
										{ "name": "visitElement", "type": "method" },
										{ "name": "visitPsBlock", "type": "method" },
										{ "name": "visitChildren", "type": "method" },
										{ "name": "visitSpreadAttr", "type": "method" },
										{ "name": "visitAttr", "type": "method" },
										{ "name": "parseCodeFragment", "type": "method" }
									],
									"perser-methods-update": [
										{ "name": "updateLocation", "type": "method" },
										{ "name": "updateRaw", "type": "method" },
										{ "name": "updateElement", "type": "method" },
										{ "name": "updateAttr", "type": "method" }
									],
									"perser-methods-detection": [
										//
										{ "name": "detectElementType", "type": "method" }
									],
									"perser-methods-creation": [
										{ "name": "createToken", "type": "method" },
										{ "name": "sliceFragment", "type": "method" },
										{ "name": "getOffsetsFromCode", "type": "method" }
									],
									"perser-methods-manipurate": [
										{ "name": "walk", "type": "method" },
										{ "name": "appendChild", "type": "method" },
										{ "name": "replaceChild", "type": "method" }
									],
									"other-methods": [
										{
											"type": "method",
											"kind": "nonAccessor",
											"static": false,
											"accessibility": "public",
											"sort": "alphabetical"
										}
									],
									"other-native-private-methods": [
										{
											"name": "/^#/",
											"type": "method",
											"kind": "nonAccessor",
											"static": false,
											"accessibility": "private",
											"sort": "alphabetical"
										}
									]
								},
								"accessorPairPositioning": "getThenSet"
							}
						],
						"@typescript-eslint/member-ordering": 0
					}
				}
			]
		},
		{
			"files": ["**/*.spec.{js,mjs,cjs,ts}", "vitest.config.ts"],
			"rules": {
				"unicorn/error-message": 0,
				"unicorn/no-await-expression-member": 0,
				"unicorn/text-encoding-identifier-case": 0,
				"import/no-extraneous-dependencies": 0,
				"@typescript-eslint/no-var-requires": 0,
				"@typescript-eslint/prefer-readonly-parameter-types": 0
			}
		},
		{
			"files": ["./packages/@markuplint/create-rule/scaffold/**/*"],
			"rules": {
				"unicorn/filename-case": 0
			}
		}
	]
}
