{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": ["*.{md,mdx}", "playground/src/examples/files/**"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": ["**/.textlintrc", "**/.markuplintrc", "**/.eslintrc"],
			"options": {
				"parser": "json"
			}
		}
	]
}
