doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Document
	body
		h1 Title
		a(href="001.html")
			div
				button
		address
			address
		address
			header
		area
		audio
			audio
		audio(src="path/to")
			source
		button
		input
		details
			div
		dfn
			dfn
		dl
			dt
			dd
			div
		dl
			div
				dt
				dd
			div
		table
			caption
			thead
			tfoot
			tbody
		ul
			div
		ol
			div
