mixin meta
	if foo
		<meta name="description" content="Default description">
	else
		<meta name="description" content="Default description">
	<meta name="keywords" content="Default keywords">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">