<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
</html>