{
	"extends": ["../.eslintrc"],
	"globals": {
		"NodeJS": true
	},
	"rules": {
		"no-restricted-globals": 0
	},
	"overrides": [
		{
			"files": ["./src/server/v1.ts", "./src/server/v2.ts"],
			"rules": {
				"no-console": "off"
			}
		}
	]
}
