{
	"root": true,
	"extends": ["../.eslintrc", "plugin:react/recommended", "plugin:react-hooks/recommended"],
	"plugins": ["react", "react-refresh"],
	"env": {
		"browser": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"typescript": []
		}
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": [2, { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
		"@typescript-eslint/prefer-readonly-parameter-types": [
			1,
			{
				"allow": [
					{ "from": "lib", "name": "URL" },
					{ "from": "package", "package": "json-schema", "name": "JSONSchema7" },
					{ "from": "package", "package": "json-schema", "name": "JSONSchema7Definition" }
				],
				"checkParameterProperties": false,
				"ignoreInferredTypes": true
			}
		],
		"react/display-name": 0,
		"react/prop-types": 0,
		"react-refresh/only-export-components": "warn"
	},
	"globals": {
		"React": true,
		"JSX": true
	},
	"overrides": [
		{
			"files": ["./*.js"],
			"rules": {
				"@typescript-eslint/no-var-requires": 0
			}
		},
		{
			"files": ["./**/*.mjs"],
			"parser": "@babel/eslint-parser",
			"parserOptions": {
				"requireConfigFile": false,
				"babelOptions": {
					"plugins": ["@babel/plugin-syntax-import-assertions"]
				}
			},
			"rules": {
				"import/no-named-as-default-member": 0
			}
		},
		{
			"files": ["./**/*.tsx"],
			"rules": {
				"unicorn/filename-case": 0
			}
		}
	]
}
