{
	"root": true,
	"extends": [
		"@markuplint-dev/eslint-config",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:testing-library/react"
	],
	"plugins": ["react", "react-hooks", "react-refresh", "testing-library", "vitest"],
	"env": {
		"browser": true
	},
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"typescript": []
		}
	},
	"rules": {
		"@typescript-eslint/no-unused-vars": [2, { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],
		"@typescript-eslint/prefer-readonly-parameter-types": [
			1,
			{
				"allow": [
					{ "from": "lib", "name": "URL" },
					{ "from": "package", "package": "json-schema", "name": "JSONSchema7" },
					{ "from": "package", "package": "json-schema", "name": "JSONSchema7Definition" }
				],
				"checkParameterProperties": false,
				"ignoreInferredTypes": true
			}
		],
		"react/display-name": 0,
		"react/prop-types": 0,
		"react-refresh/only-export-components": "warn"
	},
	"globals": {
		"React": true,
		"JSX": true
	},
	"overrides": [
		{
			"files": ["./*.js"],
			"rules": {
				"@typescript-eslint/no-var-requires": 0
			}
		},
		{
			"files": ["./*.mjs"],
			"rules": {
				"import/no-named-as-default-member": 0
			}
		},
		{
			"files": ["./**/*.tsx"],
			"rules": {
				"unicorn/filename-case": 0
			}
		},
		{
			"files": ["./**/*.spec.ts", "./**/*.spec.tsx"],
			"rules": {
				"testing-library/prefer-user-event": 2,
				"testing-library/no-manual-cleanup": 0
			}
		},
		{
			"files": ["./vitest.config.ts"],
			"rules": {
				"import/no-default-export": 0
			}
		}
	]
}
