{
  "root": true,
  "extends": ["../.eslintrc", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "plugins": ["react"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": []
    }
  },
  "rules": {
    "react/display-name": 0,
    "react/prop-types": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["^@docusaurus/", "^@site/", "^@theme/", "^@theme-original/"]
      }
    ]
  },
  "globals": {
    "React": true,
    "JSX": true
  },
  "overrides": [
    {
      "files": ["./*.mjs"],
      "rules": {
        "import/no-named-as-default-member": 0
      }
    }
  ],
  "ignorePatterns": ["./build/**/*", "./.docusaurus/**/*"]
}
