{
  "root": true,
  "extends": ["../.eslintrc", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "plugins": ["react"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": []
    },
    "import/ignore": ["@docusaurus/*"]
  },
  "rules": {
    "react/display-name": 0,
    "react/prop-types": 0,
    "import/no-unresolved": [
      2,
      {
        "ignore": ["^@docusaurus/", "^@site/", "^@theme/", "^@theme-original/"]
      }
    ],
    "unicorn/filename-case": 0
  },
  "globals": {
    "React": true,
    "JSX": true
  },
  "overrides": [
    {
      "files": ["**/*.tsx", "src/**/*.js"],
      "rules": {
        "@typescript-eslint/prefer-readonly-parameter-types": 0,
        "import/no-default-export": 0,
        "unicorn/filename-case": [
          0,
          {
            "pascalCase": true
          }
        ]
      }
    },
    {
      "files": ["./*.js"],
      "rules": {
        "no-restricted-globals": 0,
        "@typescript-eslint/no-var-requires": 0,
        "unicorn/prefer-module": 0
      }
    },
    {
      "files": ["./*.mjs"],
      "rules": {
        "import/no-named-as-default-member": 0
      }
    },
    {
      "files": ["./docusaurus.config.ts", "./*.ts"],
      "rules": {
        "import/no-default-export": 0
      }
    }
  ],
  "ignorePatterns": ["./build/**/*", "./.docusaurus/**/*"]
}
