name: VS Code Extension Packaging Test

on:
    pull_request:
        branches:
            - dev
            - v3
        paths:
            - 'vscode/**'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
              with:
                  # SEE: https://github.com/lerna/lerna/issues/2542
                  fetch-depth: '0'

            - name: Install Node.js
              uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
              with:
                  node-version: 18

            - name: Install dependencies
              run: yarn vscode:package
