name: Test

on:
    push:
        branches:
            - dev
            - next
    pull_request:
        branches:
            - dev
            - next

jobs:
    test:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                node: [18]
                include:
                    - node: 20
                      os: ubuntu-latest
                      experimental: true
        steps:
            - uses: actions/checkout@v3
              with:
                  # SEE: https://github.com/lerna/lerna/issues/2542
                  fetch-depth: '0'

            - name: Use Node.js ${{ matrix.node }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}

            - name: Install dependencies
              if: steps.cache.outputs.cache-hit != 'true' || matrix.os == 'windows-latest'
              run: yarn install

            - name: Bootstrap
              run: yarn bootstrap

            - name: Build
              run: yarn build

            - name: Test
              run: yarn test:coverage

            - name: Spell Check
              run: yarn spellcheck
